
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin whiteSpace {
  display: inline-block;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

@mixin clamp($line) {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$line;
} 

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin positions($l,$t) {
  position: absolute;
  left: $l;
  top: $t;
}

@mixin size($w, $h) {
  width: $w;
  height: $h
}
